<div class="container">
    <div ng-app="myApp" ng-controller="formCtrl">
        <form #frm="ngForm" class="card p-3 bg-light">
            <h3>create new hero</h3>
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" [(ngModel)]="hero.id" name="id" readonly>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" #input1 class="form-control" id="name" [(ngModel)]="hero.name" name="name"
                    minlength="3" autocomplete="off" myAutofocus required>

            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <textarea class="form-control" id="description" [(ngModel)]="hero.description"
                    name="description"></textarea>
            </div>

            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Photo Hero</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                        (change)="onChange($event)" [(ngModel)]="hero.photo" name="photo">
                </div>
            </form>

            <div class=" form-check">
                <input type="checkbox" class="form-check-input" id="favorite" [(ngModel)]="hero.favorite"
                    name="favorite">
                <label class="form-check-label" for="favorite">Add to favorite heroes</label>
                <br>
                <br>
            </div>

            <button type="submit" class="btn btn-primary btn-block " (click)="saveHero()">Save</button>
            <button type="button" class="btn btn-danger btn-block" (click)="cancelClick()">Cancel</button>
        </form>
    </div>
</div>